<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vinay Tambey">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post | Instagram Clone</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Vinstagram</h1>

    <main>
        
        <form class="posts" action="http://localhost:8080/posts" method="post" enctype="multipart/form-data">
            <label for="user">Username: </label>
            <input id="user" type="text" name="username" placeholder="Enter the Username..." required>

            <br><br>

            <label for="img">Photo: </label>
            <input id="img" type="file" name="image" required>

            <br><br>
            
            <label for="caption">Caption: </label>
            <textarea id="caption" type="text" name="caption" placeholder="Enter the Caption..." required></textarea>

            <br><br>

            <button type="submit">Upload Post</button>
        </form>

    </main>
</body>
</html>