<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vinay Tambey">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Clone | Vinay Tambey</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Instagram</h1>

    <main>
        <div class="posts">
            <h2 class="username">@<%= post.username %></h2>
            <img src="/images/<%= post.image %>" alt="<%= traverseUntil(post.image.split('')).join('') %>">
            <p class="caption"><%= post.caption %></p>
        </div>
    </main>
</body>
</html>