<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Vinay Tambey">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View the Post | Instagram Clone</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Vinstagram</h1>

    <main>
        <div class="posts">
            <h2 class="username">@<%= post.username %></h2>
            <img src="<%= post.image.url %>" alt="<%= post.image.fileName %>" loading="eager">
            <p class="caption"><%= post.caption %></p>

            <div class="links">
                <a href="/posts">Back</a>
            </div>
        </div>
    </main>
</body>
</html>