body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

h1 {
    background: linear-gradient(to bottom right, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #777737, #FCAF45, #FFDC80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

.posts {
    width: 600px;
    padding: 0.5rem 1.5rem;
    background-color: pink;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.posts .username {
    font-style: italic;
}

.posts img {
    width: 100%;
    max-height: 750px;
    border-radius: 0.5rem;
}

.posts .caption {
    border-left: 2px solid black;
    padding: 0.25rem;
    padding-left: 0.5rem;
    font-size: 1.25rem;
}

.posts .links {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.posts .links a {
    background: linear-gradient(to bottom right, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #777737, #FCAF45, #FFDC80);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.posts .links a:hover, .posts form button:hover, form.posts button:hover {
    transform: scale(1.03);
    opacity: 1;
    color: white;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: white;
}

.posts form {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5rem;
}

.posts form button, form.posts button {
    background: linear-gradient(to bottom right, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #777737, #FCAF45, #FFDC80);
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    opacity: 0.9;
    transition: 0.2s ease-in-out;
}

.newPostLink {
    background: linear-gradient(to bottom right, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #777737, #FCAF45, #FFDC80);
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.newPostLink img {
    width: 1.75rem;
}

.newPostLink:hover {
    transform: scale(1.05);
    box-shadow: 2px 15px 20px rgba(0, 0, 0, 0.7), -2px 10px 10px rgba(0, 0, 0, 0.5);
}

/* Styling for 'new.ejs' page */
form.posts input[type="text"], form.posts textarea {
    margin-top: 0.25rem;
    padding: 0.25rem;
}

form.posts input[type="file"] {
    margin-top: 0.25rem;
}

form.posts button {
    align-self: center;
    color: white;
}